@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"] {
  display: none;
}

/* THEME FOR EDITOR */
/* Base theme */
.bn-container[data-theming-css-variables-demo] {
  --bn-colors-editor-text: theme("colors.black");
  --bn-colors-editor-background: theme("colors.bgLight");
  --bn-colors-menu-text: theme("colors.black");
  --bn-colors-menu-background: theme("colors.primary-dark");
  --bn-colors-tooltip-text: theme("colors.black");
  --bn-colors-tooltip-background: theme("colors.primary");
  --bn-colors-hovered-text: theme("colors.black");
  --bn-colors-hovered-background: theme("colors.primary");
  --bn-colors-selected-text: theme("colors.black");
  --bn-colors-selected-background: theme("colors.primary-dark");
  --bn-colors-disabled-text: theme("colors.transparent");
  --bn-colors-disabled-background: theme("colors.bgLight");
  --bn-colors-border: theme("colors.invalid");
  --bn-colors-side-menu: theme("colors.black");
  --bn-color-highlight-colors: theme("colors.black");
  --bn-border-radius: theme("borderRadius.DEFAULT");
  --bn-font-family: theme("fontFamily.sans");
}

/* Changes for dark mode */
.dark .bn-container[data-theming-css-variables-demo] {
  --bn-colors-editor-text: theme("colors.white");
  --bn-colors-editor-background: theme("colors.bgDark");
  --bn-colors-side-menu: theme("colors.white");
  --bn-colors-menu-text: theme("colors.white");
  --bn-colors-hovered-text: theme("colors.white");
  --bn-colors-tooltip-text: theme("colors.white");
  --bn-colors-selected-text: theme("colors.white");
  --bn-colors-side-menu: theme("colors.white");
  --bn-color-highlight-colors: theme("colors.white");
}

.bn-container[data-theming-css-variables-demo] {
  min-height: 30vh;
}

/*loader*/

.loader {
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  transition:
    opacity 0.75s,
    visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  background-color: var(--app-col);
}

.loader::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid #ff8080;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
